<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.datatables.net/2.1.5/css/dataTables.dataTables.css" id="app-style" rel="stylesheet" type="text/css" />
    <title>Lucid Datatables</title>
  </head>
  <body>
    <table id="example" class="display" style="width:100%">
      <thead>
          <tr>
            <th>#</th>
            <th>UUID</th>
            <th>Code</th>
            <th>User</th>
            <th>Amount</th>
            <th>Discount</th>
          </tr>
      </thead>
    </table>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdn.datatables.net/2.1.5/js/dataTables.js"></script>
    <script>
      new DataTable('#example', {
        ajax: '/lucid/datatables',
        processing: true,
        serverSide: true,
        columns: [
            { data: "DT_RowIndex", name: "DT_RowIndex", orderable: false, searchable: false, width: "20px" },
            { data: "uuid", name: "uuid" },
            { data: "code", name: "code" },
            { data: "user_name", name: "user.name" },
            { data: "amount", name: "amount" },
            { data: "discount", name: "discount" },
        ]
    });
    </script>
  </body>
</html>
